# The Core Engine
pathway
pathway[xpack-llm]
pathway[xpack-llm-local]

# Data Connectors
telethon        
requests        
beautifulsoup4  
feedparser
fastapi
uvicorn

# Frontend
streamlit
folium
fpdf
streamlit-folium


# Environment
python-dotenv   # To manage API Keys securely
